<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<!--{{ user_p.username }}-->
{% if user_p.is_authenticated %}
    Logged in! <a href="{% url 'logout' %}">Log out</a>
{% else %}
    <h1>Хуй!!</h1>
    <a href="{% url 'login' %}">Log in</a>
{% endif %}
<a href="{% url 'index' %}">Main</a>
{% block content %}  {% endblock %}
</body>
{% load staticfiles %}
    <script src="{% static 'knockout.js' %}"></script>
    <script src="{% static 'jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'ViewModel.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</html>