{% extends "index.html" %}


{% block content %}

<form data-bind="submit: getBooks">
    Date from: <input type="date" data-bind="value: date"/>
    <input type="submit" value="Show" />
</form>
<!-- ko ifnot: books().length == 0 -->
<ul data-bind="foreach: books">
    <li><a data-bind="text: title, attr: { href: id }"></a></li>
    <button data-bind="click: change"></button>
</ul>
<!-- /ko -->
<!-- ko if: books().length == 0 -->
All books:
<ul>
    {% for book in books %}
        <li><a href="{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
</ul>

<!-- /ko -->

{% endblock %}