{% extends "index.html" %}


{% block content %}
<div id="farmer-info">
    <p>{{ farmer.full_name }}</p>
    Категории:
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category_products' category.id %}">{{ category.category_name }}</a></li>
        {% endfor %}
    </ul>
    Продукты:
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product' product.id %}">{{ product.product_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}