<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django learning</title>
</head>
<body>
<!--<a href="/core/books/">Books list</a>-->
<!--<a href="/core/authors/">Authors list</a>-->
{% block content %}{% endblock %}
</body>
{% load staticfiles %}
    <script src="{% static 'knockout.js' %}"></script>
    <script src="{% static 'jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'ViewModel.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</html>